* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.FullBox {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.contentBox {
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
}